* {
    margin: 0;
    padding: 0;
}
html {
    height: max-content;
}
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.notes {
    display: flex;
    flex-direction: column;
    margin: 16px;
    gap: 16px;
    width: 50vw;
}
.note {
    border: solid gray;
    display: flex;
    flex-direction: column;
}
h2 {
    border-bottom: solid rgba(14,14,14,0.24);
    padding: 16px;
}
p {
    padding: 36px;
    word-wrap: break-word;
}
